body{
    margin: 0;
    color: white;
    background-color: #293132;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper-home{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15%,25%,25%,25%,10%;
    grid-template-areas:
    'hd'
    'sc1'
    'sc2'
    'sc3'
    'ft'
}
.wrapper-profile{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15%,25%,25%,25%,10%;
    grid-template-columns: 50%, 50%;
    grid-template-areas:
    'hd hd'
    'sc1 sc1'
    'sc2 as'
    'sc3 as'
    'ft ft'
}
header{
    grid-area: hd;
    background-color: #161818;
    display: flex;
    justify-content: space-evenly;
}
.menu{
    height: 100vh;
    width: 50vw;
    background: gray;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.new-from-friends{
    margin: 10px;
    grid-area: sc1;
}
.section-heading{
    padding-bottom: 2px;
    margin-left: 5%;
}
.album-list{
    display: flex;
    justify-content: space-evenly;
}
.reviews{
    margin: 10px;
    grid-area: sc2;
}
.new{
    margin: 10px;
    grid-area: sc3;
}
footer{
    grid-area: ft;
    background-color: #161818;
    display: flex;
    justify-content: space-evenly;
}
aside{
    grid-area: as;
    background-color:  #161818;
    padding: 10px;
}
.album{
    height: 150px;
    margin: 2px;
    object-fit: cover;
}
.review{
    background-color: #161818;
    padding: 10px;
    display: flex;
    justify-items: space-evenly;
}
.profile-picture{
    border-style:none;
    border-radius: 50%;
    height: 100px;
}
.stars{
    color: #5AAA95;
}
.profile{
    grid-area: sc1;
    display: flex;
}
.top-4{
    grid-area: sc2;
}
.recent{
    grid-area: sc3;
}
@media screen and (max-width:767px){ 
    .album{
        height: 90px;
    }
    .menues{
        display: none;
    }
    .menu-button{
        display: block;
    }
}