body{
    margin: 0;
    color: white;
    background-color: #293132;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
@media screen and (max-width:767px){ 
    .hide{
        display:none;
    }
    .profile-picture{
        height:75px;
        border-style:none;
        border-radius: 50%;
    }
    .small-profile-picture{
        border-style:none;
        border-radius: 50%;
        height: 30px;
    }
    .album{
        height: 100px;
    }
    body{
        font-size: 0.75rem;
    }
    .review{
        background-color: #161818;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    .album-list{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 20px;    
    }
    .ranked-album{
        flex-basis: 50%;
    }
    .wrapper-album{
        width: 100vw;
        display: grid;
        grid-template-rows: 10% 25% 25% 25% fr;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        'hd hd'
        'sc1 sc4'
        'sc3 as'
        'sc2 sc2'
        'ft ft'
    }
    aside{
        padding:10px;
        margin: 10px;
    }
    .album-big{
        grid-area: sc1;
        width: 150px;
        padding: 10px;
    }
}
@media screen and (min-width:768px) {
    .wrapper-home{
        width: 100vw;
        display: grid;
        grid-template-rows: 7% 30% 30% 30% 3%;
        grid-template-areas:
        'hd'
        'sc1'
        'sc2'
        'sc3'
        'ft'
    }
    .wrapper-profile{
        width: 100vw;
        display: grid;
        grid-template-rows: 7% 20% 35% 35% 3%;
        grid-template-columns: 75% 25%;
        grid-template-areas:
        'hd hd'
        'sc1 sc1'
        'sc2 as'
        'sc3 as'
        'ft ft'
    }
    .wrapper-ranking{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 10% 10% 80% 3%; /* måste fixa det här */
        grid-template-areas:
        'hd'
        'sc1'
        'sc2'
        'ft'
    }
    .wrapper-album{
        width: 100vw;
        display: grid;
        grid-template-rows: 10% 25% 25% 25% fr;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas:
        'hd hd hd'
        'sc1 sc4 as'
        'sc3 sc4 as'
        'sc3 sc2 as'
        'ft ft ft'
    }
    .menu-button{
        display: none;
    }
    .album{
        height: 150px;
        margin: 2px;
        object-fit: cover;
    }
    .profile-picture{
        border-style:none;
        border-radius: 50%;
        height: 100px;
    }
    .small-profile-picture{
        border-style:none;
        border-radius: 50%;
        height: 50px;
    }
    .review-text{
        display: flex;
        align-self: center;
    }
    .review{
        background-color: #161818;
        padding: 10px;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    .album-list{
        grid-area: sc2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px;
    }
    .ranked-album{
        flex-basis: 25%;
    }
    .album-big{
        grid-area: sc1;
        width: 200px;
        padding: 10px;
    }
}
.tracklist{
    grid-area: sc3;
    background-color: #161818;
    margin: 10px;
    padding: 10px;
}
.album-info{
    grid-area: sc4;
    margin: 10px;
    padding: 10px;
}
input{
    width: 80px;
}
header{
    grid-area: hd;
    background-color: #161818;
    display: flex;
    justify-content: space-evenly;
}
.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}
.fade-layer.visible{
    display: block;
}
.menu.show{
    left:0vw;
}
.menu{
    height: 100vh;
    width: 50vw;
    background: #161818;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}
.new-from-friends{
    margin: 10px;
    grid-area: sc1;
}
.section-heading{
    padding-bottom: 2px;
    margin-left: 5%;
}
.reviews{
    margin: 10px;
    grid-area: sc2;
}
.new{
    margin: 10px;
    grid-area: sc3;
}
footer{
    grid-area: ft;
    background-color: #161818;
    display: flex;
    justify-content: space-evenly;
}
aside{
    grid-area: as;
    background-color:  #161818;
    padding: 10px;
}
.profile{
    grid-area: sc1;
    display: flex;
    padding: 10px;
}
.top-4{
    grid-area: sc2;
}
.recent{
    grid-area: sc3;
}
a {
    color: white;
    text-decoration: none;
}